interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://go.boarddocs.com/pa/stco/Board.nsf/Public
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en\" class=\"accessibility\">\n<head>\n\n\t\t<script
        src=\"https://cdn.jsdelivr.net/npm/html-docx-js@0.3.1/dist/html-docx.min.js\"></script>\n
        \   \t<script src=\"https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js\"></script>\n
        \   \n<script type=\"text/javascript\" src=\"/pa/stco/Board.nsf/javascript/pendo-init.js\"></script>\n<script>boardType=\"1\"</script>\n<script>showPolicyValue=\"2\"</script>\n<script>policyDraft=\"\"</script>\n<script>windowTitleNew=\"State
        College Area School District BoardDocs\xAE Pro\"; printTitle=\"BoardDocs\xAE
        Pro\";</script>\n<title>State College Area School District BoardDocs\xAE Pro</title>\n<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<meta
        name=\"DESCRIPTION\" content=\"State College Area School District - The State
        College Area School District Board of Directors. Pictured from left to right:
        Aaron Miller,  Jackie Huff, Anne Demo, Carline Crevecoeur, Deb Anderson (Vice
        President), Curtis Johnson (Superintendent), Amy Bader (President), Peter
        Buck, Gretchen Brandt, Dan Kolbe\">\n<meta name=\"keywords\" content=\"boarddocs,
        Meetings, Meeting, Agenda, Agenda Details\">\n<meta name=\"robots\" content=\"index,
        follow\">\n<meta name=\"format-detection\" content=\"telephone=no\" />\n<link
        rel=\"apple-touch-icon\" href=\"//cdn.boarddocs.com/static/images/apple-touch-icon-precomposed.png\"/>\n<script
        type=\"text/javascript\" src=\"/pa/stco/Board.nsf/javascript/sanitizeObject.js\"></script>\n<script
        src=\"https://cdnjs.cloudflare.com/ajax/libs/d[...]
- request:
    body: current_committee_id=BD9UX3743939
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://go.boarddocs.com/pa/stco/Board.nsf/BD-GetMeetingsList?open
  response:
    body:
      string: ''
    headers:
      X-origurl:
      - /pa/stco/Board.nsf/BD-GetMeetingsList
    status:
      code: 200
      message: OK
version: 1
