__pycache__/
.DS_Store
.idea/*
.python-version
*.egg-info
.tox
build/
dist/
docs/_build/
#docs/
#!docs/Makefile
#!docs/authors.rst
#!docs/contributing.rst
#!docs/history.rst
#!docs/index.rst
#!docs/make.bat
#!docs/readme.rst
