[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[packages]
bs4 = "*"
click = "*"
click-option-group = "*"
feedparser = "*"
scraper-legistar = "*"
requests = "*"
demjson3 = "*"
bumpversion = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
docutils = "*"
sphinx = "*"
pytest = "*"
pytest-vcr = "*"
pytz = "*"
vcrpy = "*"
argh = "*"
twine = "*"
typing-extensions = "*"

[dev-packages]
bumpversion = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
docutils = "*"
pytest = "*"
pytest-vcr = "*"
vcrpy = "*"
argh = "*"
twine = "*"
pre-commit = "*"
typing-extensions = "*"
myst-parser = "*"
sphinx-autobuild = "*"
black = "*"
setuptools-scm = "*"
pytz = "*"
sphinx = "*"
exceptiongroup = "*"
