interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://finetownny.gov/meetings/meetings/
  response:
    body:
      string: "<!DOCTYPE html>\n<html>\n    <head>\n        <meta charset=\"UTF-8\"
        />\n        <meta http-equiv=\"refresh\" content=\"0;url='http://finetownny.gov/meetings/meetings'\"
        />\n\n        <title>Redirecting to http://finetownny.gov/meetings/meetings</title>\n
        \   </head>\n    <body>\n        Redirecting to <a href=\"http://finetownny.gov/meetings/meetings\">http://finetownny.gov/meetings/meetings</a>.\n
        \   </body>\n</html>"
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - http://finetownny.gov/meetings/meetings
      X-Backend-Server:
      - Windows 98 SE
      X-Contact:
      - ateam@digitaltowpath.org
      X-Firewall:
      - Dual-homed Windows ME
      X-Hacker:
      - Too easy, please move along.
      X-Security:
      - Um...you see I run PHP, right?
      X-WAF:
      - Epic regex.
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: http://finetownny.gov/meetings/meetings
  response:
    body:
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://finetownny.gov/meetings/meetings
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://finetownny.gov/meetings/meetings
  response:
    body:
      string: "<!DOCTYPE html>\n<html>\n    <head>\n        <meta charset=\"UTF-8\"
        />\n        <meta http-equiv=\"refresh\" content=\"0;url='https://finetownny.gov/categories'\"
        />\n\n        <title>Redirecting to https://finetownny.gov/categories</title>\n
        \   </head>\n    <body>\n        Redirecting to <a href=\"https://finetownny.gov/categories\">https://finetownny.gov/categories</a>.\n
        \   </body>\n</html>"
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://finetownny.gov/categories
      X-Backend-Server:
      - Windows 98 SE
      X-Contact:
      - ateam@digitaltowpath.org
      X-Firewall:
      - Dual-homed Windows ME
      X-Hacker:
      - Too easy, please move along.
      X-Security:
      - Um...you see I run PHP, right?
      X-WAF:
      - Epic regex.
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://finetownny.gov/categories
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=edge\">\n    <link rel=\"stylesheet\" type=\"text/css\" href=\"/concrete/themes/atomik/css/skins/default.css?ccm_nocache=9e3f25cd1e0a85e50dc581de69c67589964be034\">
        \   \n\n\t<meta property=\"og:site_name\" content=\"Town of Fine\">\n\t<meta
        property=\"og:locale\" content=\"en_US\">\n\t<meta property=\"og:type\" content=\"website\">\n\t<meta
        property=\"og:title\" content=\"Meeting Categories\">\n\t<meta property=\"og:url\"
        content=\"https://finetownny.gov/categories\">\n\t\n<title>Meeting Categories
        :: Town of Fine</title>\n\n<meta http-equiv=\"content-type\" content=\"text/html;
        charset=UTF-8\">\n<meta name=\"generator\" content=\"Concrete CMS\">\n<script
        type=\"text/javascript\">\n    var CCM_DISPATCHER_FILENAME = \"/index.php\";\n
        \   var CCM_CID = 237;\n    var CCM_EDIT_MODE = false;\n    var CCM_ARRANGE_MODE
        = false;\n    var CCM_IMAGE_PATH = \"/concrete/images\";\n    var CCM_APPLICATION_URL
        = \"https://finetownny.gov\";\n    var CCM_REL = \"\";\n    var CCM_ACTIVE_LOCALE
        = \"en_US\";\n    var CCM_USER_REGISTERED = false;\n</script>\n\n<style type=\"text/css\"
        data-area-style-area-handle=\"Navigation\" data-block-style-block-id=\"560\"
        data-style-set=\"61\">.ccm-custom-style-container.ccm-custom-style-navigation-560{background-image:
        url(/application/files/9417/4957/2838/IMG_0110.JPG);background-repeat: no-repeat;background-size:
        auto;background-position: }</style><style type=\"text/css\" data-area-style-area-handle=\"Main\"
        data-style-set=\"50\">.ccm-custom-style-main{background-image: url(/application/files/2217/4641/1981/LAKE2.jpg);background-repeat:
        no-repeat;background-size: auto;background-position: left top}</style>\n<link
        href=\"/concrete/css/fontawesome/all.css?ccm_nocache=9e3f25cd1e0a85e50dc581de69c67589964be034\"
        rel=\"stylesheet\" type=\"text/css\" media=\"all\">\n<script type=\"text/javascript\"
        src=\"/concrete/js/jquery.js?ccm_nocache=9e3f25cd1e0a85e50dc581de69c67589964be034\"></script>\n<link
        href=\"/packages/msv_cookie_consent/css/cookieconsent.css?ccm_nocache=8dd00b0eafd1c0b346c741b16e157f2e38e1e2a8\"
        rel=\"stylesheet\" type=\"text/css\" media=\"all\">\n\n<link href=\"/application/files/cache/css/0a4860a04aa8b9c57741287bcc4eba13b4ada215.css?ccm_nocache=9e3f25cd1e0a85e50dc581de69c67589964be034\"
        rel=\"stylesheet\" type=\"text/css\" media=\"all\" data-source=\"/packages/jl_dtp_adapt/blocks/page_title/templates/dtp_banner_welcome/view.css?ccm_nocache=9e3f25cd1e0a85e50dc581de69c67589964be034\">\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body>\n\n<div
        class=\"theme-atomik ccm-page ccm-page-id-237 ccm-production-mode-development\">\n\n<div\nclass=\"ccm-custom-style-navigation\"\n>\n\n\n
        \   <a href=\"#jump-past-navigation-518\"\n   class=\"visually-hidden-focusable
        btn btn-dark position-absolute top-0 start-0 m-3 zindex-tooltip\" aria-label=\"Jump
        past navigation bar\">\n    Jump past navigation</a>\n<div class=\"ccm-block-top-navigation-bar\"
        aria-role=\"navigation\" aria-label=\"Primary navigation\" style=\"display:
        none\" data-transparency=\"navbar\">\n    <nav class=\"navbar navbar-expand-lg
        navbar-light fixed-top\">\n        <div class=\"container-fluid\">\n            <a
        class=\"navbar-brand\" href=\"https://finetownny.gov/\" area-label=\"Site
        logo with link to home page\">\n                Town of Fine            </a>\n\n
        \                           <button class=\"navbar-toggler collapsed\" type=\"button\"
        data-bs-toggle=\"collapse\" data-bs-target=\"#top-navigation-bar-518\" aria-controls=\"top-navigation-bar-518\"\n
        \                       aria-expanded=\"false\" aria-label=\"Toggle Navigation\">\n
        \                                       <span class=\"icon-bar\"></span>\n
        \                   <span class=\"icon-bar\"></span>\n                    <span
        class=\"icon-bar\"></span>\n                                    </button>\n
        \               <div class=\"collapse navbar-collapse\" id=\"top-navigation-bar-518\">\n
        \                                           <form method=\"get\" action=\"https://finetownny.gov/search\"
        role=\"search\">\n                            <input class=\"form-control\"
        type=\"search\" name=\"query\" placeholder=\"Search\" aria-label=\"Site search\">\n
        \                           <button class=\"btn btn-light bg-white ms-2\"
        type=\"submit\" value=\"Make search and open in linked page\" aria-label=\"Make
        search and open in linked page\">\n                                <i class=\"fas
        fa-search text-secondary\"></i>\n                            </button>\n                        </form>\n
        \                                               <ul class=\"navbar-nav\">\n
        \                                                               <li class=\"nav-item
        dropdown\">\n                                                                                <a
        class=\"nav-link dropdown-toggle\"\n                                           data-concrete-toggle=\"dropdown\"\n
        \                                          target=\"_self\"\n                                           href=\"https://finetownny.gov/government\"\n
        \                                          aria-haspopup=\"true\"\n                        [...]
