name: Continuous Deployment

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  lint-python:
    name: Lint Python code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install pipenv
        run: pipx install pipenv

      - uses: actions/setup-python@v2
        with:
          python-version: '3.7'
          cache: 'pipenv'

      - id: pipenv-install
        name: Install Python dependencies
        run: pipenv install --dev --python `which python`

      - id: lint
        name: Lint
        run: flake8 ./civic_scraper/*.py

  test-python:
    strategy:
      matrix:
        python: ["3.7", "3.8"]
    name: Test Python code
    runs-on: ubuntu-latest
    steps:
    - id: checkout
      name: Checkout
      uses: actions/checkout@v2

    - name: Install pipenv
      run: pipx install pipenv

    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
        cache: 'pipenv'

    - id: pipenv-install
      name: Install Python dependencies
      run: pipenv install --dev --python `which python`

    - id: run
      name: Run tests
      run: pytest -sv
